.container {
  display: grid;
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.1;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.tTable {
  display: grid;
  gap: 0.1em;
  text-align: left;
  grid-template-rows: auto 1fr;
}

.tHeadRow {
  display: grid;
  gap: 0.1em;
  width: 95vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tHeadCol {
  background-color: rgb(117, 201, 250);
  padding: 0.1em;
  font-weight: 500;
}

.tBody {
  display: grid;
}

.tBodyRow {
  display: grid;
  gap: 0.1em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin: 0.1em 0;
}

.tDataCol {
  background-color: rgb(205, 235, 253);
  padding: 0.5em;
  font-weight: 300;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.2em;
}

.input {
  font-size: 1.5rem;
}

.button {
  font-size: 1em;
  cursor: pointer;
}
